.about{
    text-align: center;
}

#text-welcome{
    margin-top: 4em;
    font-size: 1.5em;
}

#text-title{
    margin-top: 2em;
}

#text-about{
    margin: 2em;
    font-size: 1.2em; 
}

.buttons-about{
    margin-top: 48px;
    display: flex;
    justify-content: center;
}

#btn-cv{
    width: 17em;
    height: 3em;
    background: #222A35;
    color: #DD9F32;
    border: 2px solid #DD9F32;
    box-sizing: border-box;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    margin-right: 33px;
    
}

#btn-cv:hover{
    background: #DD9F32;
    color: #222A35;
}

#btn-get-in-touch{
    width: 17em;
    height: 3em;
    background: #DD9F32;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
}

#btn-get-in-touch:hover{
    background: #222A35;
    color: #DD9F32;
}